/*Reglas generales*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    box-sizing: content-box;
}

:root{
    --darkCyan:hsl(185, 75%, 39%);
    --veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --darkGrayishBlue: hsl(227, 10%, 46%);
    --darkGray: hsl(0, 0%, 59%);
}

body{
    margin: 0;
    padding: 0%;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--darkCyan);
}

/*Fondo*/

.bg-img{
    position: absolute;
}

.bg-top{
    right: 50%;
    bottom: 35%;
}

.bg-bottom{
    top: 50%;
    left: 45%;
}

/*Card*/

.card{
    margin: 50px auto;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 10px 5px 5px black;
}

.bg-card{
    width: 100%;
    height: 35%;
    background-image: url(../images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.dp{
    height: 110px;
    width: 110px;
    border-radius: 55px;
    background-color: white;
    margin: -50px auto;
    padding: 2px;
    
}

.imagen{
    background-image: url('../images/image-victor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 55px;
}

.info{
    width: 100%;
    height: 50%;
    margin-top: 100px;    
}

.infPrinc{
    text-align: center;
}

.infPrinc h3{
    font-size: 18px;
    font-weight: 700;


}

.infPrinc span, .infPrinc p{
    color: var(--darkGray);
    font-weight: 400;
}


.infPrinc span{
    margin-left: 4px;
}

.infoCant{
    display: flex;
    list-style: none;
    width: 100%;
    
    
}

.dato{
    width: 33%;
    height: 30%;
    padding: auto auto;
    margin-top: var(--darkGray);
    text-align: justify;
}

.dato h3{
    font-size: 18px;
    font-weight: 700;
}

.dato p{
    font-weight: 400;
    font-size: 11px;
    color:var(--darkGray);
    padding-top: auto;
}

hr{
    color: violet;
}